extends layout

block page-js
  script(src='/js/recipient.js')

block content

  .container.recipient
  
    .top
      h1 Mailody
      a(href="/") I'm Sender
      
    .main
      p#text Take a photo of the code on your card
      p.caption#example Example: "Mailody: MLDJ"
      
      #preview
      
      div
        audio(id="song") Your browser does not support the audio tag.
      
      #song-info
        p#song-name
        p.captio#song-artist
        
      #emotion.hide
        ul
        
    .bottom
    
      .get-camera
        input(class="input-file show" type="file" id="file" accept="image/*" capture="camera" name="files[]")
        label(for="file" id="upload-btn") Take a photo
        #status(class="hide")
          span Analysing
            .loader
